<!-- <h1>App component works</h1> -->

<!-- <app-home>  </app-home>
<app-sample> </app-sample> -->
<!-- <div> Hello from app<br> -->
<!-- {{title}} -->
<!-- <app-customer [mytitle]='title'></app-customer> -->





<!-- {{'In App Component : '+mycounter}} -->
<!-- <app-customer #myApp (countchanged) = "myeventHandler($event)" ></app-customer> -->
<!-- 
<app-customer #myApp ></app-customer>
{{myApp.counter}}
<button type="button" (click)="myApp.increment()">In App Component Increment</button>
<br>
<button type="button" (click)="myApp.decrement()">In App compoenet Decrement</button> -->

<!-- <app-customer   ></app-customer> -->
<!-- <button type="button" (click)="myeventHandler(50)">In App componenet Increment</button>
<input #myInput type="text" value="My  Value"> -->
<!-- </div> -->

h
<app-home></app-home>

<br>
h