<!-- <h1>Customer html works</h1>


 <button (click)=getValue(1) >Submit</button>

 <div *ngIf="flag">
    <table border="1">
        <tr>
            <th>Sr.#</th>
            <th>Name </th>
            <th>Age </th>
        </tr>
        <tr *ngFor="let item of Customer ; let i = index; let o=odd; let e=even"[ngClass] ="{even:flag , odd=!flag}" >
            <td>{{e}}</td>
            <td>{{item.Name}}</td>
            <td>{{item.Age}}</td>
        </tr>
    </table>
</div> -->
<!-- <div> Customer Component
<h1>

    {{'data from app component : '+ss}}
</h1>

</div> -->

<div>
    {{'Counter in Customer Component : ' + counter}}

    <button type="button" (click)="increment()" >Increment</button>
    <button type="button" (click)="decrement()" >Decrement</button>

</div>

