


<link rel="stylesheet" type="text/css" href="app.component.css">

<br>
<br>
<div id="outside" class="rootModuleDiv">
  outside
  <br>
  <div id="module1Div" class="moduleDiv"> 
    module1
    <app-module1-com1></app-module1-com1> 
    <app-module1-com2></app-module1-com2>
    <app-module1-com3></app-module1-com3>
  </div>

  <div id="module2Div" class="moduleDiv">
    module2
    <app-module2-com1></app-module2-com1>
    <app-module2-com2></app-module2-com2>
    <app-module2-com3></app-module2-com3>
  </div>
</div>